.above-four{
    color: green;
}

.above-one{
    color: green;
}

.above-two{
    color: green;
}
.above-three{
    color: green;
}
.above-four{
    color: green;
}
.above-five{
    color: green;
}

.rating{
    font-size: 18px;
    color: green;
    font-weight: bold;
}